* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Azeret Mono", monospace;
}

/* all common styles starts here */
a {
  text-decoration: none;
  color: black;
}
/* all common styles ends here */

/* header styles starts here */
.header-container {
  width: 1440px;
  height: 652px;
  background-image: url("./images/hero-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px;
}

.header-content {
  max-width: 998px;
  height: 582px;
  margin: 0 auto;
  text-align: center;
}

.header-content img {
  width: 240.28px;
  height: 240px;
}

.header-content h1 {
  font-size: 38px;
  font-weight: 800;
  margin-top: 32px;
}

.header-content p {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  margin-top: 24px;
}

.header-content button {
  width: 208px;
  height: 66px;
  border-radius: 8px;
  font-size: 20px;
  background: rgb(13, 19, 33);
  color: white;
  margin-top: 32px;
}

/* header styles ends here */

/* why web development section styles starts here */
.why-web-development-section {
  margin: 90px 80px;
}

.why-web-development-section-content {
  margin: 0 auto;
}

.why-web-development-section-content-heading {
  width: 80%;
  text-align: center;
  margin: 0 auto;
}

.why-web-development-section-content-heading h1 {
  font-family: Azeret Mono;
  font-size: 32px;
  font-weight: 800;
}

.why-web-development-section-content-heading p {
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  margin-top: 15px;
}

.wwd-section {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  width: 85%;
  margin: 0 auto;
  margin-top: 48px;
}

.wwd-section-text {
  width: 60%;
}

.wwd-section-text h3 {
  color: rgba(13, 19, 33, 0.7);
  font-family: Azeret Mono;
  font-size: 24px;
  font-weight: 700;
}

.wwd-section-text p {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  margin-top: 20px;
}

.wwd-section-text button {
  width: 171px;
  height: 47px;
  font-size: 20px;
  margin-top: 20px;
}

.wwd-section-img {
  width: 40%;
  height: 240px;
}
/* why web development styles ends here */

/* inspiration section styles starts here */
.inspiration-section {
  width: 1140px;
  height: 775px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
}

.inspiration-section-text h2 {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 32px;
  font-weight: 800;
  margin-bottom: 24px;
}

.inspiration-section-text p {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 30px;
}

.inspiration-section-yt-video {
  width: 100%;
  height: 660px;
}
/* inspiration section styles ends here */
